.GuestUIContainer {
	display: flex;
	flex-direction: row;
	margin-top: 5em;
	height: 85vh;
	justify-content: space-around;
  }
  
  .PosterDragAndDrop {
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 4px 4px 10px rgb(90, 90, 90);
	overflow: hidden;
	align-items: center;
  }
  
  .PosterRatingContainer {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: max-content;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 4px 4px 10px rgb(90, 90, 90);
	overflow: hidden;
	align-items: center;
  }
  
  .SectionHeading {
	width: 90%;
	font-size: 34px;
	padding-left: 20px;
	padding-bottom: 15px;
	color: #333333;
	border-bottom: 3px solid #333333;
	user-select: none;
	margin: 10px;
	margin-bottom: 0.5em;
  }
  
  .DragAndDropArea {
	cursor: copy;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 5em);
	height: 80%;
	background-color: #e1e1e1;
	border-radius: 15px;
	margin: 1em;
	padding: 1em;
	border: 1px dashed #a2a2a2;
	transition: 0.3s all ease-in-out;
	overflow: hidden;
  }
  
  .DragAndDropArea:hover {
	background-color: #33333387;
	border: 1px dashed #b90504;
	content-visibility: inherit;
  }
  
  .PosterImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	overflow: hidden;
  }
  
  .TimeToCalculate {
	color: #6f6f6f;
	font-size: 14px;
  }
  
  .HelpIcon {
	cursor: pointer;
	color: #f6f6f6;
  }
  
  @media screen and (max-width: 900px) {
	.GuestUIContainer {
	  display: flex;
	  flex-direction: column;
	  margin-top: 6em;
	  height: auto;
	  justify-content: center;
	  align-items: center;
	}
  
	.PosterDragAndDrop {
	  width: 95%;
	}
  
	.DragAndDropArea {
	  height: 100px;
	}
  
	.PosterRatingContainer {
	  width: 95%;
	  margin-top: 2em;
	}
  }

img {
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    position: fixed;
    z-index: -1;
}