.research-container {
    color: #f9f9f9;
}


.research-container > h1 {
    font-size: 4vw;
    padding: 5%;
    text-align: center;
}

.research-container > h3 {
    font-size: 3vw;
    padding: 5%;
    text-align:center
}


.research-container > p {
    font-size: 1.5vw;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-bottom: 3%;
}

