video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.main-container {
    /* background: url('/home/bob/Documents/testing/img-home.jpg') center center/cover no-repeat; */
    /* margin-top: 80px; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.main-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 80px;
}