.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9;
    justify-content: space-evenly;
  }
  
  .navbar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    max-width: 100%;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 2vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-right: 80vw;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    padding-right: 1.5%;
    grid-gap: 2vw;
    list-style: none;
    text-align: center;
    width: 30vw;
    justify-content: right;
  }

  .nav-item {
    height: 80px;
    display: grid;
  }
  
  .nav-links {
    color: #fff;
    display: grid;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1050px) {
    .NavbarItems {
      position: relative;
    }
  
    .navbar-logo {
      margin-right: 40vw;
    }
  }
  .css-tzssek-MuiSvgIcon-root {
    color: #f3f3f3
  }

  button {
    background-color: transparent;
    border: hidden;
  }

  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-edgeStart.MuiIconButton-sizeMedium.css-1d6w9lk-MuiButtonBase-root-MuiIconButton-root {
    justify-content: center;
  }

  ul {list-style: none} 
  li {display: block;
  padding: 0.25vw;}

  svg { color: #f3f3f3; }