* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .project-background,
  .project,
  .research-links,
  .register-or-login {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .project-background {
    /* background-image: url('../images/img-1.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .project {
    /* background-image: url('../images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .research-links {
    /* background-image: url('../images/img-3.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .register-or-login {
    /* background-image: url('../images/img-4.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #fff; */
    font-size: 100px;
  }